body {
    text-align: center;
    background-color: darkturquoise;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    height: 150px;
    width: 150px;
    border: 6px black solid;
    border-radius: 20px;
    margin: 10px;
}

.red {
    background-color: rgb(255, 0, 0);
}

.yellow {
    background-color: rgb(251, 255, 16);
}

.green {
    background-color: rgb(0, 255, 21);
}

.blue {
    background-color: rgb(0, 172, 252)                           ;
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: green;
}